@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
.metacontainer {
  font-family: 'VT323', monospace;
  background: blanchedalmond;
  width: 700px;
  height: 530px;
  border-radius: 20px 20px;
  position: relative;
  margin: 20px auto 0 auto; /* top right bottom left */
  border: 2px solid #1e2124;
  box-shadow: 5px 10px black;

 }

.container {
  background: #424549;
  padding: 20px;
  border-radius: 0px 0px 15px 15px;
  width: 100%;
  bottom: 0;
  position: absolute;
}

.comment{
  border-radius: 20px;
  width: 50%;
  padding: 10px;
  font-size: 12px;
  display: inline-block;
}

button {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background: white;
}

#thumbsup {
    background-image: url(./thumbsup.png);
}

#heart {
    background-image: url(./heart.png);
}

#laugh {
    background-image: url(./laugh.png);
}

#send {
  margin-left: 10px;
  width: 15%;
  background-image: url(./send.png);
  background-repeat: no-repeat;
  background-position: center center;
}

button:active {
  transform: translateY(3px);
}

.picture{
    background-image: url(./dog.jpg);
    background-position: center;
    margin: 15px auto 0 30px;
    background-size: 110%;
	border: 1px white;

}

.name{
    text-align: left;
	margin: -50px auto 0 100px;
    font-size: 1.0em;
    position: relative;
    width: 200%;
}

.write{
  border-radius: 1px;
  width:80%;
  height:55%;
  margin: 40px auto 0 30px;
  padding: 10px;
  font-size: 12px;
  display: inline-block;
}

.sample{
  border: 2px solid #1e2124;
  border-radius: 20px;
  background: white;
  width:80%;
  height:55%;
  margin: 40px auto 0 30px;
  text-align: left;
  padding: 10px;
  font-size: 1.0em;
  display: inline-block;
  box-shadow: 5px 10px black;
}
