html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.bodybackground{
    background-image: url(./background.JPG);
    height: 100%;
    position: relative;
}