.navbar{
    height: 50%;
    /* background-color: #e6d6e1; */
    background-image: url(./insta-background.jpg);
    background-position: center;
    background-size: 100%;
    position: relative;
    border-radius: 0 0 20px 20px;
    display: flex;
}

.logo{
    background-image: url(./logo.JPG);
    background-position: center;
    background-size: 110%;
    border-radius: 20px 20px;
}

.logoHeader{
    text-align: left;
    font-family: 'proxima-nova', sans-serif;
    font-size: 2.5em;
    position: relative;
    width: 75%;
}

.searchBar{
    /*text-align: right;*/
    font-family: 'proxima-nova', sans-serif;
    font-size: 1em;
    position: relative;
}

/*.menu-options {
    display: flex;
}*/

.profileButton {
    /*text-align: left;*/
    position: relative;
    color: black;
    padding: 5px;
}

.searchButton{
    background-image: url(./search.JPG);
    background-position: center;
    background-size: 90%;
    position: relative;
}

.clearfix{
    clear:both;
}

