@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
	body
	{
		font-family: 'VT323', monospace;
		background-image: url(./SignBG.png);
		background-repeat: no-repeat;
		background-color: #fae5e4;
		background-position: center bottom;
		background-attachment: fixed;
	}
	
	.signin-newAccount
	{
		font-size: 10px;
		color: Pink;
		margin-left: 30px;
		text-decoration: none;
	}

	.signin-header
	{
		font-size: 30px;
		color: pink;
		text-align: center;
		margin-top: 30px;
	}
	
	.signin-label
	{
		font-family: "Lucida Console", "Courier New", monospace;
		font-size: 11.5px;
		color: Pink;
		margin-left: 30px;
		margin-top: 20px;
	}
	
	.signin-container
	{
		margin: 0 0 0 -33%;/* top right bottom left */
		position: relative;
	}
	
	.signin-window
	{
		background: #424549;
		border: 2px solid #1e2124;
		height: 280px;
		width: 400px;
		margin-right: 50px;
		margin-top: 100px;
		border-radius: 20px;
		position: absolute;
		right: 0;
		z-index: 2;
	}
	
	.signin-shadow
	{
		background: #282b30;
		height: 280px;
		width: 400px;
		margin-right: 50px;
		margin-top: 100px;
		border-radius: 20px;
		position: absolute;
		right: -8px;
		top: 8px;
		z-index: 1;
	}
	
	.signin-logo
	{
		margin-top: 60px;
		right: 370px;
		position: absolute;
		top: 50px;
		z-index: 3;
		border-radius: 20px;
	}
	
	input[type=form_i]
	{
		width: 50%;
		padding: 5px 10px;
		margin-left: 28px;
		border: 2px solid pink;
		border-radius: 20px;
		outline:none;
	}	
	
	a:link[type=submit_i]
	{
		text-decoration: none;
		text-align: center;
		padding: 5px 10px;
		width: 25%;
		background-color: Pink;
		border-color: #424549;
		margin-top: -20px;
		margin-right: 20px;
		color: #424549;
		float: right;
		border-radius: 20px;
		cursor: pointer;
		outline:none;
		position: relative;
	}
	
	a:hover 
	{
		background-color: Plum;
	}
	
	
	
	
	
	
	